<body class="post-index">
<p id="notice"><%= notice %></p>
<h3> BROWSE </h3>
    <% @posts.each do |post| %>
    <div class="card">
  <div class="card-image">
    <%= image_tag post.image.url(:medium) %>
    <h6><%= post.name %></h6>
    <p>$<%= post.price %></p>
    <%= render 'partials/stripe', post: post %>
  </div>
</div>
    <%end%>
  </body>
